body {
	padding:           0% 10%; 
	color:             #00FF00; 
	background-color:  #000000;
	font-family:       monospace;
}
a {
	color:             #00FFFF;
}

.code {
	color:             #FFFFFF; 
	background-color:  #383838;
}

.wsp {
	white-space:       pre;
}

.todo {
	color:             #FFFFFF; 
	background-color:  #FF0000;
}

.comment {
	color:             #007700; 
	background-color:  #000000;
}

.aside {
	color:             #77FF00; 
	background-color:  #000000;
}
